<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
.container {
	position: relative;
	top: 10%;
}

#parEl #parEl2 {
	position: relative;
	top: 10%;
	place-items: center;
}

#insBtn {
	position: relative;
	left: 35%
}

#delBtn {
	position: relative;
	left: 35%
}
</style>
</head>

<body layout:fragment="content">
	<div class="container">
		<div class="row">
			<div align="center" class="col-4 parEl">
				<h2>사원목록</h2>

				<div id="grid"></div>
			</div>
			<div class="col-4">
				<div align="center" class="parEl2">
					<h2>고객목록</h2>

					<div id="grid2"></div>
				</div>
			</div>
			<div class="col-4" align="center">
				<h2>세부정보</h2>
				<form action="empInsert" method="post" id="empInsertForm">
					<!-- <sec:csrfInput/> -->
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					<table>
						<tbody>
							<tr>
								<th>아이디</th>
								<td><input type="text" id="usersId" name="usersId">
								</td>
								<td><button id="checkBtn" type="button" onclick="checkId()"
										value="no">중복확인</button></td>
							</tr>
							<tr>
								<th>비밀번호</th>
								<td><input type="password" id="usersPassword"
									name="usersPassword"></td>
							</tr>
							<tr>
								<th>이름</th>
								<td><input type="text" id="usersName" name="usersName"></td>
							</tr>
							<tr>
								<th>담당</th>
								<td><input type="text" id="usersAuthor" name="usersAuthor"
									readonly="readonly"></td>
								<td><select id="selectAuthor">
										<option selected="selected">------</option>
										<th:block th:each="author : ${authorList}">
											<option th:text="${author}"></option>
										</th:block>
								</select></td>
							</tr>
							<tr>
								<th>연락처</th>
								<td><input type="text" id="usersTel" name="usersTel"></td>
							</tr>
							<tr>
								<th>주소</th>
								<td><input type="text" id="usersAddress"
									name="usersAddress"></td>
							</tr>
						</tbody>
					</table>
					<hr>
					<button type="button" onclick="checkForm()" class="btn btn-primary">회원추가</button>
					<button type="button" class="btn btn-secondary">수정</button>
				</form>
			</div>
		</div>
	</div>
	<script>

	
		$('#insBtn').click(function() {
			const myModalAlternative = new bootstrap.Modal('#mNoModal')
			const modalToggle = document.getElementById('mNoModal');
			myModalAlternative.show(modalToggle)

		})
		$('#selectAuthor').change(function() {
			$('#usersAuthor').val($(this).val());
		})

		$('#usersId').on('change', function() {
			$('#checkBtn').val("no");
		})

		function checkForm() {
			console.log($('#usersId').val())
			if ($('#usersId').val() == "" || $('#usersId').val() == null) {
				alert('아이디를 입력하세요!');
				return false;
			}
			if ($('#checkBtn').val() != "Yes") {
				alert('아이디 중복 확인을 해주십시오');
				return false;
			}
			if ($('#usersAuthor').val() == ""
					|| $('#usersAuthor').val() == null) {
				alert('담당을 선택해주세요!');
				return false;
			}
			$('#empInsertForm').submit();
		}

		function checkId() {
			var usersId = $('#usersId').val();
			console.log(usersId);
			$.ajax({
				url : "/empCheckId",
				type : "get",
				data : {
					usersId : usersId
				},
				async : false,
				success : function(data) {
					if (data == 0 && usersId != "") {
						alert("사용 할 수 있는 아이디 입니다");
						$('#checkBtn').val("Yes");

					} else {
						alert("이미 존재하는 아이디 입니다!");
						$('#usersId').val("");
						$('#usersId').focus();
					}
					console.log(data);
				},
				error : function(reject) {
					console.log(reject);
				}
			})
		}
		window.onload = function() {
			$.ajax({
				url : "/getEmpList",
				dataType : "JSON",
				success : function(result) {
					var empList = [];
					var clientList = [];
					$.each(result, function(idx, obj) {
						let str = obj.usersNo.substr(0, 3);
						if (str == 'CUS') {
							clientList.push(obj);
						} else if (str == 'COS') {
							empList.push(obj);
						}
					})
					grid.resetData(empList);
					grid2.resetData(clientList);
				},
				error : function(reject) {
					console.log(reject);
				}

			});

			var grid = new tui.Grid({
				el : document.getElementById('grid'),
				rowHeaders : [ 'checkbox' ],
				minBodyHeight : 30,
				pageOptions : {
					useClient : true, // front에서만 페이징 하는 속성
					perPage : 20
				},
				scrollX : false,
				scrollY : false,
				columns : [
				{
					header : '사원번호',
					name : 'usersNo',
					sortable : true,
					sortingType : 'asc',
					width : '150',
					align : 'right'
				}, {
					header : '이름',
					name : 'usersName',
					width : '80',
					align : 'left'
				}, {
					header : '아이디',
					name : 'usersId',
					width : '100',
					align : 'left'
				}, {
					header : '담당',
					name : 'usersAuthor',
					width : '100',
					align : 'left'
				} ],
				formatter : {
					key : "dt",
					label : "기능",
					width : "150",
					align : "center",
					formatter : function() {
						return "저장";
					}
				}
			});
			
			var grid2 = new tui.Grid({
				el : document.getElementById('grid2'),
				rowHeaders : [ 'checkbox' ],
				minBodyHeight : 30,
				pageOptions : {
					useClient : true, // front에서만 페이징 하는 속성
					perPage : 20
				},

				scrollX : false,
				scrollY : false,
				columns : [

				{
					header : '고객번호',
					name : 'usersNo',
					sortable : true,
					sortingType : 'asc',
					width : '200',
					align : 'right'
				}, {
					header : '이름',
					name : 'usersName',
					width : '150',
					align : 'left'
				}, {
					header : '아이디',
					name : 'usersId',
					width : '200',
					align : 'left'
				} ],
				formatter : {
					key : "dt",
					label : "기능",
					width : "150",
					align : "center",
					formatter : function() {
						return "저장";
					}
				}
			});
			
			grid.on('check', (ev) => {
				  for(let i=0;i<$('#grid input:checkbox[name="_checked"]').length;i++){
					  if(i!=`${ev.rowKey}`){
						  grid.uncheck(i);
						}
				  }
				  for(let i=0;i<$('#grid2 input:checkbox[name="_checked"]').length;i++){
						  grid2.uncheck(i);
				  }
				  callUser($(grid.getCheckedRows())[0].usersNo)
				});

			
			grid2.on('check', (ev) => {
				  for(let i=0;i<$('#grid input:checkbox[name="_checked"]').length;i++){
						  grid.uncheck(i);
				  }
				  for(let i=0;i<$('#grid2 input:checkbox[name="_checked"]').length;i++){
					  if(i!=`${ev.rowKey}`){
						  grid2.uncheck(i);
						}
				  }
				  callUser($(grid2.getCheckedRows())[0].usersNo)
				});
			
			grid.on('uncheck', (ev) => {
				  $('input:text').val('');
				});
			
			grid2.on('uncheck', (ev) => {
				$('input:text').val('');
				});
			
			$('#grid span').remove();
			$('#grid2 span').remove();
		};
			function callUser(no){
				console.log(no);
				
				console.log()
				$.ajax({
					url:'/userSelect',
					data : {usersNo:no},
					success:function(data){
						for(obj in data){
							$('#'+obj).val(data[obj])
							console.log(obj, data[obj])
						}
					},
					error : function(reject){
						console.log(reject);
					}
				})
			}
			
			function userUpdate(){
				
			}
	</script>
</body>

</html>