<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.prj.cosm.sales.salesIo.mapper.SalesIoMapper">
  
  <!-- 전체조회 -->
  <select id="inoutList" resultType="SalesIoVO">
  select * from sales_io ORDER BY client_no
  </select>
  
  
  <!-- 등록 -->
  <insert id="" parameterType="SalesIoVO">
  insert into sales_io(
		order_date,
		delivery_date,
		state,
		note,
		client_no,
		regist_LOT,
		code_no,
		Field
		)
values(
		#{order_date},
		#{delivery_date},
		#{state},
		#{note},
		#{client_no},
		#{regist_LOT},
		#{code_no},
		#{Field}
	);
  </insert>
  
  </mapper>