<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- toast grid-->

<!-- style and js -->
<link rel="stylesheet" href="/equipmentCss/main.css"/>
<!-- bootstrap@5.2.2 -->

<style type="text/css">
.textWidth {
	width:250%;
}

</style>

</head>
<body>

 	<div layout:fragment="content" style="height: 900px; overflow: scroll">
 	
		  <!-- model and view로 보낸 데이터 [[${pno}]] 이런식으로 써야합니다 밖에서 쓰려면. -->
		  <h2>공정 관리</h2>
		
		  <div class="row">
			        <div class="column">
			          <h5>공정 관리</h5>
			         	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal1">
						등록</button>

			          <div id="processList">
		                 
	              	  </div>

		        	</div>
		
			        <div class="column">
			          <h5>설비 관리</h5><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">등록</button>	
						등록</button>
					  <div id="equipList">
		                 
	              	  </div>
			        </div>
		
		  </div>

	<!-- The Modal 1 공정모달 -->
	<div class="modal fade" id="myModal1">
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title">공정 등록</h4>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
	
			<form id="insertForm2" action="insertProcess" method="post" onsubmit="formOption1()">
			<!-- Modal body -->
			<div class="modal-body">
				<table class="table">
                    <tr>
						<td>공정번호</td>
                        <td><input class="form-control" id="processNo" name="processNo" th:value="${pno }" type="text" readonly></td>
                        <td>공정명</td>
                        <td><input class="form-control" id="processName" name=processName type="text" required></td>
                    </tr>
                    <tr>
                        <td>공정내용</td>
                        <td><textarea class="form-control" id="processContent" name="processContent" rows="5" required></textarea></td>
                    </tr> 
 					<tr>
                        <td>공정순서</td>
                        <td><input class="form-control" id="processSeq" name="processSeq" type="text" required></td>
                    </tr>
               	 	</table>
			</div>
	
			<!-- Modal footer -->
			<div class="modal-footer">
			<button type="button" class="btn btn-primary">등록</button>
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
			</div>
				</form>               
	
		</div>
		</div>
	</div>
	
	<!-- The Modal 2 설비모달 -->
	<div class="modal fade" id="myModal2">
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title">설비 등록</h4>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
	
			<form id="insertForm2" action="insertEquip" method="post" onsubmit="formOption2()">
			<!-- Modal body -->
			<div class="modal-body">
				<table class="table">
					
                    <tr>
						<td>설비번호</td>
                        <td><input class="form-control" id="equipNo" name="equipNo" th:value="${eno }" type="text" readonly></td>
                        <td>설비명</td>
                        <td><input class="form-control" id="equipName" name="equipName" type="text" required></td>
                    </tr>
                    <tr>
                        <td>설비타입</td>
                        <td><input class="form-control" id="equipType" name="equipType" type="text" required></td>
						<td>적용공정</td>
                        <td><input class="form-control" id="equipProcess" name="equipProcess" type="hidden"> 
							        <select class="form-control" id="equipProcessSelect" onchange="changeSelect(this.value);" th:each="ep : ${ep}">            
							           <option th:text="${ep.processNo}"></option>
					  					</select></td>              
                    </tr>
                     <tr>
                        <td>정상진동</td>
                        <td><input class="form-control" id="equipStdVibe" name="equipStdVibe" type="text" required></td>
                        <td>정상온도</td>
                        <td><input class="form-control" id="equipStdTemp" name="equipStdTemp" type="text" required></td>
                    </tr>
                    <tr>
                        <td>설비설명</td>
                        <td><textarea class="form-control textWidth" id="equipPurpose" name="equipPurpose" rows="5"></textarea></td>
                    </tr>                  
                </table>
			</div>
	
			<!-- Modal footer -->
			<div class="modal-footer">
			<button type="submit" class="btn btn-primary">등록</button>
			<button type="button" class="btn btn-danger"  data-bs-dismiss="modal">취소</button>
		</div>
	</form>
	
		</div>
		</div>
	</div>
	
	<!-- The Modal 3 설비 단건 조회 모달 -->
	<div class="modal fade" id="myModal3">
		
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title">설비 등록</h4>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
	
		
			<!-- Modal body -->
			<div id="equipInfo" class="modal-body">
			<table class="table">
					
                    <tr>
						<td>설비명</td>
                        <td><input class="form-control" id="equipName" name="equipName" type="text" readonly></td>
                    </tr>
                    <tr>
                        <td>설비타입</td>
                        <td><input class="form-control" id="equipType" name="equipType" type="text" readonly></td>		              
                    </tr>
                     <tr>
                        <td>정상진동</td>
                        <td><input class="form-control" id="equipStdVibe" name="equipStdVibe" type="text" readonly></td>
                        <td>정상온도</td>
                        <td><input class="form-control" id="equipStdTemp" name="equipStdTemp" type="text" readonly></td>
                    </tr>
                     <tr>
                        <td>설치시기</td>
                        <td><input class="form-control" id="equipDate" name="equipDate" type="text" readonly></td>
                        <td>가동시간</td>
                        <td><input class="form-control" id="equipStartDate" name="equipStartDate" type="text" readonly></td>
                        <td>정지시간</td>
                        <td><input class="form-control" id="equipEndDate" name="equipEndDate" type="text" readonly></td>
                    </tr>
                    <tr>
                        <td>설비설명</td>
                        <td><textarea class="form-control textWidth" id="equipPurpose" name="equipPurpose" rows="5"></textarea></td>
                    </tr>                  
                </table>
			</div>
	
			<!-- Modal footer -->
			<div class="modal-footer">
			<button type="submit" class="btn btn-primary">수정</button>
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
		</div>

	
		</div>
		</div>
	</div>
 
	<script>
	

	function formOption1(){
		document.querySelector('#insertForm1').submit();
		
	}
	
	function changeSelect() {
		
		let ep = document.querySelector('#equipProcessSelect').value;
		document.querySelector('#equipProcess').value = parseInt(ep);
	}
	
	function formOption2(){
		
		document.querySelector('#insertForm2').submit();	
	}

		url="/equipment/processList"
	    fetch(url) // 공정 리스트 불러오는 아작스
	    .then(res=>res.json())
	    .then(obj=>{
	        console.log(obj);
	        process.resetData(obj);
	       
	    })
	    
	    url="/equipment/equipList"
	    fetch(url) // 설비 리스트 불러오는 아작스
	    .then(res=>res.json())
	    .then(obj=>{
	        console.log(obj);
	        equip.resetData(obj);
	        
	    })
	    
	    url="/equipment/getEquipInfo"
	    fetch(url) // 설비 단건조회 불러오는 아작스
	    .then(res=>res.json())
	    .then(obj=>{
	        console.log(obj);
	        
	    })
	    
		
		const process = new tui.Grid({ //공정 그리드
		    el: document.querySelector('#processList'),
		    scrollY: false,
			pagination:true,
			pageOptions: {
				useClient: true,
				perPage: 4
			},
		    columns: [
		    {
				header: '공정번호',
				name: 'processNo'
				    },
		    {
		        header: '공정명',
		        name: 'processName'
		    },
		    {
		        header: '공정내용',
		        name: 'processContent'
		    },
		    {
		        header: '공정순서',
		        name: 'processSeq'
		    }
		    ]
		});
	    
	    const equip = new tui.Grid({ // 설비 그리드
		    el: document.querySelector('#equipList'),
			pagination:true,
			pageOptions: {
				useClient: true,
				perPage: 4
			},
		    columns: [
		    {
				header: '설비번호',
				name: 'equipNo'
				    },
			{
				 header: '설비명',
				name: 'equipName'
				
				    },
		    {
		        header: '설비타입',
		        name: 'equipType'
		    },
		    {
		        header: '설비용도',
		        name: 'equipPurpose'
		    },
		    {
		        header: '적용공정',
		        name: 'equipProcess'
		    }
		    ]
		});

	    equip.on('click', ev => {
	    	console.log(equip.getValue(ev.rowKey,ev.columnName));
	   /*  if(equip.getValue(ev.rowKey,ev.columnName) == equipInfo)) */

	   	const myInput = document.getElementById('myInput')

		myModal.addEventListener('shown.bs.modal', () => {
  		myInput.focus()
  		
		})
	    	});
	    
	    process.on('click', ev => {
	    	console.log(process.getValue(ev.rowKey,ev.columnName));
	    	});
		
	
</script>

	</div>
</body>
</html>